<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Access denied</title>
    <meta charset="ISO-8859-1">
    <link type="text/css" rel="stylesheet" th:href="@{/css/access-denied.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div id="nav-placeholder">
</div>

<div class="logout" th:if="${param.logout}" style="color:red;">
    You have been logged out
</div>
<h1> access denied</h1>
<a th:href="@{/}">Root page</a>
</body>

<script>
    $(function () {
        $("#nav-placeholder").load("nav");
    });
</script>
</html>